# Rick and Morty API
VITE_RICKANDMORTY_CHARACTERS_API_URL=https://rickandmortyapi.com/api/character

# GitHub URL
VITE_GITHUB_URL=https://github.com/tuusuario

# Node environment
VITE_NODE_ENV=development

# API Key (Sensible - NUNCA commitear aquí, solo en Netlify Dashboard)
# VITE_API_KEY=tu_clave_aqui
